{
  "branches": [
    {
      "name": "main"
    },
    {
      "name": "next",
      "channel": "next",
      "prerelease": true
    },
    {
      "name": "pre/rc",
      "channel": "pre/rc",
      "prerelease": "rc"
    },
    {
      "name": "beta",
      "channel": "beta",
      "prerelease": true
    },
    {
      "name": "alpha",
      "channel": "alpha",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/github"
  ],
  "monorepo": {
    "analyzeCommits": {
      "path": "@semantic-release/commit-analyzer",
      "preset": "angular"
    },
    "generateNotes": {
      "path": "@semantic-release/release-notes-generator",
      "preset": "angular"
    },
    "publish": {
      "path": "@semantic-release/npm",
      "pkgRoot": "packages/lib"
    },
    "github": {
      "path": "@semantic-release/github",
      "assets": [
        {
          "path": "packages/lib/dist/**/*",
          "label": "Components"
        }
      ]
    }
  }
}
