/* stylelint-disable */
:root {
  --primary-0: #ffffff;
  --primary-0-10: #ffffff1a;
  --primary-0-20: #ffffff33;
  --primary-0-30: #ffffff4d;
  --primary-0-40: #ffffff66;
  --primary-0-50: #ffffff80;
  --primary-0-60: #ffffff99;
  --primary-0-70: #ffffffb3;
  --primary-0-80: #ffffffcc;
  --primary-0-90: #ffffffe6;
  --primary-1: #f2fef1;
  --primary-1-10: #f2fef11a;
  --primary-1-20: #f2fef133;
  --primary-1-30: #f2fef14d;
  --primary-1-40: #f2fef166;
  --primary-1-50: #f2fef180;
  --primary-1-60: #f2fef199;
  --primary-1-70: #f2fef1b3;
  --primary-1-80: #f2fef1cc;
  --primary-1-90: #f2fef1e6;
  --primary-5: #defbdb;
  --primary-5-10: #defbdb1a;
  --primary-5-20: #defbdb33;
  --primary-5-30: #defbdb4d;
  --primary-5-40: #defbdb66;
  --primary-5-50: #defbdb80;
  --primary-5-60: #defbdb99;
  --primary-5-70: #defbdbb3;
  --primary-5-80: #defbdbcc;
  --primary-5-90: #defbdbe6;
  --primary-10: #c6f6c1;
  --primary-10-10: #c6f6c11a;
  --primary-10-20: #c6f6c133;
  --primary-10-30: #c6f6c14d;
  --primary-10-40: #c6f6c166;
  --primary-10-50: #c6f6c180;
  --primary-10-60: #c6f6c199;
  --primary-10-70: #c6f6c1b3;
  --primary-10-80: #c6f6c1cc;
  --primary-10-90: #c6f6c1e6;
  --primary-20: #a3ec98;
  --primary-20-10: #a3ec981a;
  --primary-20-20: #a3ec9833;
  --primary-20-30: #a3ec984d;
  --primary-20-40: #a3ec9866;
  --primary-20-50: #a3ec9880;
  --primary-20-60: #a3ec9899;
  --primary-20-70: #a3ec98b3;
  --primary-20-80: #a3ec98cc;
  --primary-20-90: #a3ec98e6;
  --primary-30: #82df72;
  --primary-30-10: #82df721a;
  --primary-30-20: #82df7233;
  --primary-30-30: #82df724d;
  --primary-30-40: #82df7266;
  --primary-30-50: #82df7280;
  --primary-30-60: #82df7299;
  --primary-30-70: #82df72b3;
  --primary-30-80: #82df72cc;
  --primary-30-90: #82df72e6;
  --primary-40: #66d04e;
  --primary-40-10: #66d04e1a;
  --primary-40-20: #66d04e33;
  --primary-40-30: #66d04e4d;
  --primary-40-40: #66d04e66;
  --primary-40-50: #66d04e80;
  --primary-40-60: #66d04e99;
  --primary-40-70: #66d04eb3;
  --primary-40-80: #66d04ecc;
  --primary-40-90: #66d04ee6;
  --primary-50: #4fbc34;
  --primary-50-10: #4fbc341a;
  --primary-50-20: #4fbc3433;
  --primary-50-30: #4fbc344d;
  --primary-50-40: #4fbc3466;
  --primary-50-50: #4fbc3480;
  --primary-50-60: #4fbc3499;
  --primary-50-70: #4fbc34b3;
  --primary-50-80: #4fbc34cc;
  --primary-50-90: #4fbc34e6;
  --primary-60: #3f9924;
  --primary-60-10: #3f99241a;
  --primary-60-20: #3f992433;
  --primary-60-30: #3f99244d;
  --primary-60-40: #3f992466;
  --primary-60-50: #3f992480;
  --primary-60-60: #3f992499;
  --primary-60-70: #3f9924b3;
  --primary-60-80: #3f9924cc;
  --primary-60-90: #3f9924e6;
  --primary-70: #2f7718;
  --primary-70-10: #2f77181a;
  --primary-70-20: #2f771833;
  --primary-70-30: #2f77184d;
  --primary-70-40: #2f771866;
  --primary-70-50: #2f771880;
  --primary-70-60: #2f771899;
  --primary-70-70: #2f7718b3;
  --primary-70-80: #2f7718cc;
  --primary-70-90: #2f7718e6;
  --primary-80: #21530e;
  --primary-80-10: #21530e1a;
  --primary-80-20: #21530e33;
  --primary-80-30: #21530e4d;
  --primary-80-40: #21530e66;
  --primary-80-50: #21530e80;
  --primary-80-60: #21530e99;
  --primary-80-70: #21530eb3;
  --primary-80-80: #21530ecc;
  --primary-80-90: #21530ee6;
  --primary-90: #122d06;
  --primary-90-10: #122d061a;
  --primary-90-20: #122d0633;
  --primary-90-30: #122d064d;
  --primary-90-40: #122d0666;
  --primary-90-50: #122d0680;
  --primary-90-60: #122d0699;
  --primary-90-70: #122d06b3;
  --primary-90-80: #122d06cc;
  --primary-90-90: #122d06e6;
  --primary-95: #091703;
  --primary-95-10: #0917031a;
  --primary-95-20: #09170333;
  --primary-95-30: #0917034d;
  --primary-95-40: #09170366;
  --primary-95-50: #09170380;
  --primary-95-60: #09170399;
  --primary-95-70: #091703b3;
  --primary-95-80: #091703cc;
  --primary-95-90: #091703e6;
  --primary-99: #020500;
  --primary-99-10: #0205001a;
  --primary-99-20: #02050033;
  --primary-99-30: #0205004d;
  --primary-99-40: #02050066;
  --primary-99-50: #02050080;
  --primary-99-60: #02050099;
  --primary-99-70: #020500b3;
  --primary-99-80: #020500cc;
  --primary-99-90: #020500e6;
  --primary-100: #000000;
  --primary-100-10: #0000001a;
  --primary-100-20: #00000033;
  --primary-100-30: #0000004d;
  --primary-100-40: #00000066;
  --primary-100-50: #00000080;
  --primary-100-60: #00000099;
  --primary-100-70: #000000b3;
  --primary-100-80: #000000cc;
  --primary-100-90: #000000e6;
  --secondary-0: #ffffff;
  --secondary-0-10: #ffffff1a;
  --secondary-0-20: #ffffff33;
  --secondary-0-30: #ffffff4d;
  --secondary-0-40: #ffffff66;
  --secondary-0-50: #ffffff80;
  --secondary-0-60: #ffffff99;
  --secondary-0-70: #ffffffb3;
  --secondary-0-80: #ffffffcc;
  --secondary-0-90: #ffffffe6;
  --secondary-1: #f6f9f6;
  --secondary-1-10: #f6f9f61a;
  --secondary-1-20: #f6f9f633;
  --secondary-1-30: #f6f9f64d;
  --secondary-1-40: #f6f9f666;
  --secondary-1-50: #f6f9f680;
  --secondary-1-60: #f6f9f699;
  --secondary-1-70: #f6f9f6b3;
  --secondary-1-80: #f6f9f6cc;
  --secondary-1-90: #f6f9f6e6;
  --secondary-5: #e8eee7;
  --secondary-5-10: #e8eee71a;
  --secondary-5-20: #e8eee733;
  --secondary-5-30: #e8eee74d;
  --secondary-5-40: #e8eee766;
  --secondary-5-50: #e8eee780;
  --secondary-5-60: #e8eee799;
  --secondary-5-70: #e8eee7b3;
  --secondary-5-80: #e8eee7cc;
  --secondary-5-90: #e8eee7e6;
  --secondary-10: #d7e1d5;
  --secondary-10-10: #d7e1d51a;
  --secondary-10-20: #d7e1d533;
  --secondary-10-30: #d7e1d54d;
  --secondary-10-40: #d7e1d566;
  --secondary-10-50: #d7e1d580;
  --secondary-10-60: #d7e1d599;
  --secondary-10-70: #d7e1d5b3;
  --secondary-10-80: #d7e1d5cc;
  --secondary-10-90: #d7e1d5e6;
  --secondary-20: #bcccb8;
  --secondary-20-10: #bcccb81a;
  --secondary-20-20: #bcccb833;
  --secondary-20-30: #bcccb84d;
  --secondary-20-40: #bcccb866;
  --secondary-20-50: #bcccb880;
  --secondary-20-60: #bcccb899;
  --secondary-20-70: #bcccb8b3;
  --secondary-20-80: #bcccb8cc;
  --secondary-20-90: #bcccb8e6;
  --secondary-30: #a1b59b;
  --secondary-30-10: #a1b59b1a;
  --secondary-30-20: #a1b59b33;
  --secondary-30-30: #a1b59b4d;
  --secondary-30-40: #a1b59b66;
  --secondary-30-50: #a1b59b80;
  --secondary-30-60: #a1b59b99;
  --secondary-30-70: #a1b59bb3;
  --secondary-30-80: #a1b59bcc;
  --secondary-30-90: #a1b59be6;
  --secondary-40: #889d80;
  --secondary-40-10: #889d801a;
  --secondary-40-20: #889d8033;
  --secondary-40-30: #889d804d;
  --secondary-40-40: #889d8066;
  --secondary-40-50: #889d8080;
  --secondary-40-60: #889d8099;
  --secondary-40-70: #889d80b3;
  --secondary-40-80: #889d80cc;
  --secondary-40-90: #889d80e6;
  --secondary-50: #718768;
  --secondary-50-10: #7187681a;
  --secondary-50-20: #71876833;
  --secondary-50-30: #7187684d;
  --secondary-50-40: #71876866;
  --secondary-50-50: #71876880;
  --secondary-50-60: #71876899;
  --secondary-50-70: #718768b3;
  --secondary-50-80: #718768cc;
  --secondary-50-90: #718768e6;
  --secondary-60: #5a6c51;
  --secondary-60-10: #5a6c511a;
  --secondary-60-20: #5a6c5133;
  --secondary-60-30: #5a6c514d;
  --secondary-60-40: #5a6c5166;
  --secondary-60-50: #5a6c5180;
  --secondary-60-60: #5a6c5199;
  --secondary-60-70: #5a6c51b3;
  --secondary-60-80: #5a6c51cc;
  --secondary-60-90: #5a6c51e6;
  --secondary-70: #44523d;
  --secondary-70-10: #44523d1a;
  --secondary-70-20: #44523d33;
  --secondary-70-30: #44523d4d;
  --secondary-70-40: #44523d66;
  --secondary-70-50: #44523d80;
  --secondary-70-60: #44523d99;
  --secondary-70-70: #44523db3;
  --secondary-70-80: #44523dcc;
  --secondary-70-90: #44523de6;
  --secondary-80: #2e3928;
  --secondary-80-10: #2e39281a;
  --secondary-80-20: #2e392833;
  --secondary-80-30: #2e39284d;
  --secondary-80-40: #2e392866;
  --secondary-80-50: #2e392880;
  --secondary-80-60: #2e392899;
  --secondary-80-70: #2e3928b3;
  --secondary-80-80: #2e3928cc;
  --secondary-80-90: #2e3928e6;
  --secondary-90: #181e15;
  --secondary-90-10: #181e151a;
  --secondary-90-20: #181e1533;
  --secondary-90-30: #181e154d;
  --secondary-90-40: #181e1566;
  --secondary-90-50: #181e1580;
  --secondary-90-60: #181e1599;
  --secondary-90-70: #181e15b3;
  --secondary-90-80: #181e15cc;
  --secondary-90-90: #181e15e6;
  --secondary-95: #0c0f0a;
  --secondary-95-10: #0c0f0a1a;
  --secondary-95-20: #0c0f0a33;
  --secondary-95-30: #0c0f0a4d;
  --secondary-95-40: #0c0f0a66;
  --secondary-95-50: #0c0f0a80;
  --secondary-95-60: #0c0f0a99;
  --secondary-95-70: #0c0f0ab3;
  --secondary-95-80: #0c0f0acc;
  --secondary-95-90: #0c0f0ae6;
  --secondary-99: #020302;
  --secondary-99-10: #0203021a;
  --secondary-99-20: #02030233;
  --secondary-99-30: #0203024d;
  --secondary-99-40: #02030266;
  --secondary-99-50: #02030280;
  --secondary-99-60: #02030299;
  --secondary-99-70: #020302b3;
  --secondary-99-80: #020302cc;
  --secondary-99-90: #020302e6;
  --secondary-100: #000000;
  --secondary-100-10: #0000001a;
  --secondary-100-20: #00000033;
  --secondary-100-30: #0000004d;
  --secondary-100-40: #00000066;
  --secondary-100-50: #00000080;
  --secondary-100-60: #00000099;
  --secondary-100-70: #000000b3;
  --secondary-100-80: #000000cc;
  --secondary-100-90: #000000e6;
  --tertiary-0: #ffffff;
  --tertiary-0-10: #ffffff1a;
  --tertiary-0-20: #ffffff33;
  --tertiary-0-30: #ffffff4d;
  --tertiary-0-40: #ffffff66;
  --tertiary-0-50: #ffffff80;
  --tertiary-0-60: #ffffff99;
  --tertiary-0-70: #ffffffb3;
  --tertiary-0-80: #ffffffcc;
  --tertiary-0-90: #ffffffe6;
  --tertiary-1: #f4f9fb;
  --tertiary-1-10: #f4f9fb1a;
  --tertiary-1-20: #f4f9fb33;
  --tertiary-1-30: #f4f9fb4d;
  --tertiary-1-40: #f4f9fb66;
  --tertiary-1-50: #f4f9fb80;
  --tertiary-1-60: #f4f9fb99;
  --tertiary-1-70: #f4f9fbb3;
  --tertiary-1-80: #f4f9fbcc;
  --tertiary-1-90: #f4f9fbe6;
  --tertiary-5: #e2eff3;
  --tertiary-5-10: #e2eff31a;
  --tertiary-5-20: #e2eff333;
  --tertiary-5-30: #e2eff34d;
  --tertiary-5-40: #e2eff366;
  --tertiary-5-50: #e2eff380;
  --tertiary-5-60: #e2eff399;
  --tertiary-5-70: #e2eff3b3;
  --tertiary-5-80: #e2eff3cc;
  --tertiary-5-90: #e2eff3e6;
  --tertiary-10: #cde3ea;
  --tertiary-10-10: #cde3ea1a;
  --tertiary-10-20: #cde3ea33;
  --tertiary-10-30: #cde3ea4d;
  --tertiary-10-40: #cde3ea66;
  --tertiary-10-50: #cde3ea80;
  --tertiary-10-60: #cde3ea99;
  --tertiary-10-70: #cde3eab3;
  --tertiary-10-80: #cde3eacc;
  --tertiary-10-90: #cde3eae6;
  --tertiary-20: #abcfd8;
  --tertiary-20-10: #abcfd81a;
  --tertiary-20-20: #abcfd833;
  --tertiary-20-30: #abcfd84d;
  --tertiary-20-40: #abcfd866;
  --tertiary-20-50: #abcfd880;
  --tertiary-20-60: #abcfd899;
  --tertiary-20-70: #abcfd8b3;
  --tertiary-20-80: #abcfd8cc;
  --tertiary-20-90: #abcfd8e6;
  --tertiary-30: #8bbbc6;
  --tertiary-30-10: #8bbbc61a;
  --tertiary-30-20: #8bbbc633;
  --tertiary-30-30: #8bbbc64d;
  --tertiary-30-40: #8bbbc666;
  --tertiary-30-50: #8bbbc680;
  --tertiary-30-60: #8bbbc699;
  --tertiary-30-70: #8bbbc6b3;
  --tertiary-30-80: #8bbbc6cc;
  --tertiary-30-90: #8bbbc6e6;
  --tertiary-40: #6ca7b2;
  --tertiary-40-10: #6ca7b21a;
  --tertiary-40-20: #6ca7b233;
  --tertiary-40-30: #6ca7b24d;
  --tertiary-40-40: #6ca7b266;
  --tertiary-40-50: #6ca7b280;
  --tertiary-40-60: #6ca7b299;
  --tertiary-40-70: #6ca7b2b3;
  --tertiary-40-80: #6ca7b2cc;
  --tertiary-40-90: #6ca7b2e6;
  --tertiary-50: #54929c;
  --tertiary-50-10: #54929c1a;
  --tertiary-50-20: #54929c33;
  --tertiary-50-30: #54929c4d;
  --tertiary-50-40: #54929c66;
  --tertiary-50-50: #54929c80;
  --tertiary-50-60: #54929c99;
  --tertiary-50-70: #54929cb3;
  --tertiary-50-80: #54929ccc;
  --tertiary-50-90: #54929ce6;
  --tertiary-60: #3f777d;
  --tertiary-60-10: #3f777d1a;
  --tertiary-60-20: #3f777d33;
  --tertiary-60-30: #3f777d4d;
  --tertiary-60-40: #3f777d66;
  --tertiary-60-50: #3f777d80;
  --tertiary-60-60: #3f777d99;
  --tertiary-60-70: #3f777db3;
  --tertiary-60-80: #3f777dcc;
  --tertiary-60-90: #3f777de6;
  --tertiary-70: #2e5c60;
  --tertiary-70-10: #2e5c601a;
  --tertiary-70-20: #2e5c6033;
  --tertiary-70-30: #2e5c604d;
  --tertiary-70-40: #2e5c6066;
  --tertiary-70-50: #2e5c6080;
  --tertiary-70-60: #2e5c6099;
  --tertiary-70-70: #2e5c60b3;
  --tertiary-70-80: #2e5c60cc;
  --tertiary-70-90: #2e5c60e6;
  --tertiary-80: #1e4143;
  --tertiary-80-10: #1e41431a;
  --tertiary-80-20: #1e414333;
  --tertiary-80-30: #1e41434d;
  --tertiary-80-40: #1e414366;
  --tertiary-80-50: #1e414380;
  --tertiary-80-60: #1e414399;
  --tertiary-80-70: #1e4143b3;
  --tertiary-80-80: #1e4143cc;
  --tertiary-80-90: #1e4143e6;
  --tertiary-90: #0f2324;
  --tertiary-90-10: #0f23241a;
  --tertiary-90-20: #0f232433;
  --tertiary-90-30: #0f23244d;
  --tertiary-90-40: #0f232466;
  --tertiary-90-50: #0f232480;
  --tertiary-90-60: #0f232499;
  --tertiary-90-70: #0f2324b3;
  --tertiary-90-80: #0f2324cc;
  --tertiary-90-90: #0f2324e6;
  --tertiary-95: #071212;
  --tertiary-95-10: #0712121a;
  --tertiary-95-20: #07121233;
  --tertiary-95-30: #0712124d;
  --tertiary-95-40: #07121266;
  --tertiary-95-50: #07121280;
  --tertiary-95-60: #07121299;
  --tertiary-95-70: #071212b3;
  --tertiary-95-80: #071212cc;
  --tertiary-95-90: #071212e6;
  --tertiary-99: #010404;
  --tertiary-99-10: #0104041a;
  --tertiary-99-20: #01040433;
  --tertiary-99-30: #0104044d;
  --tertiary-99-40: #01040466;
  --tertiary-99-50: #01040480;
  --tertiary-99-60: #01040499;
  --tertiary-99-70: #010404b3;
  --tertiary-99-80: #010404cc;
  --tertiary-99-90: #010404e6;
  --tertiary-100: #000000;
  --tertiary-100-10: #0000001a;
  --tertiary-100-20: #00000033;
  --tertiary-100-30: #0000004d;
  --tertiary-100-40: #00000066;
  --tertiary-100-50: #00000080;
  --tertiary-100-60: #00000099;
  --tertiary-100-70: #000000b3;
  --tertiary-100-80: #000000cc;
  --tertiary-100-90: #000000e6;
  --error-0: #ffffff;
  --error-0-10: #ffffff1a;
  --error-0-20: #ffffff33;
  --error-0-30: #ffffff4d;
  --error-0-40: #ffffff66;
  --error-0-50: #ffffff80;
  --error-0-60: #ffffff99;
  --error-0-70: #ffffffb3;
  --error-0-80: #ffffffcc;
  --error-0-90: #ffffffe6;
  --error-1: #fff5f0;
  --error-1-10: #fff5f01a;
  --error-1-20: #fff5f033;
  --error-1-30: #fff5f04d;
  --error-1-40: #fff5f066;
  --error-1-50: #fff5f080;
  --error-1-60: #fff5f099;
  --error-1-70: #fff5f0b3;
  --error-1-80: #fff5f0cc;
  --error-1-90: #fff5f0e6;
  --error-5: #ffe4d6;
  --error-5-10: #ffe4d61a;
  --error-5-20: #ffe4d633;
  --error-5-30: #ffe4d64d;
  --error-5-40: #ffe4d666;
  --error-5-50: #ffe4d680;
  --error-5-60: #ffe4d699;
  --error-5-70: #ffe4d6b3;
  --error-5-80: #ffe4d6cc;
  --error-5-90: #ffe4d6e6;
  --error-10: #ffd1b8;
  --error-10-10: #ffd1b81a;
  --error-10-20: #ffd1b833;
  --error-10-30: #ffd1b84d;
  --error-10-40: #ffd1b866;
  --error-10-50: #ffd1b880;
  --error-10-60: #ffd1b899;
  --error-10-70: #ffd1b8b3;
  --error-10-80: #ffd1b8cc;
  --error-10-90: #ffd1b8e6;
  --error-20: #ffab85;
  --error-20-10: #ffab851a;
  --error-20-20: #ffab8533;
  --error-20-30: #ffab854d;
  --error-20-40: #ffab8566;
  --error-20-50: #ffab8580;
  --error-20-60: #ffab8599;
  --error-20-70: #ffab85b3;
  --error-20-80: #ffab85cc;
  --error-20-90: #ffab85e6;
  --error-30: #ff8652;
  --error-30-10: #ff86521a;
  --error-30-20: #ff865233;
  --error-30-30: #ff86524d;
  --error-30-40: #ff865266;
  --error-30-50: #ff865280;
  --error-30-60: #ff865299;
  --error-30-70: #ff8652b3;
  --error-30-80: #ff8652cc;
  --error-30-90: #ff8652e6;
  --error-40: #ff5a1f;
  --error-40-10: #ff5a1f1a;
  --error-40-20: #ff5a1f33;
  --error-40-30: #ff5a1f4d;
  --error-40-40: #ff5a1f66;
  --error-40-50: #ff5a1f80;
  --error-40-60: #ff5a1f99;
  --error-40-70: #ff5a1fb3;
  --error-40-80: #ff5a1fcc;
  --error-40-90: #ff5a1fe6;
  --error-50: #f03c00;
  --error-50-10: #f03c001a;
  --error-50-20: #f03c0033;
  --error-50-30: #f03c004d;
  --error-50-40: #f03c0066;
  --error-50-50: #f03c0080;
  --error-50-60: #f03c0099;
  --error-50-70: #f03c00b3;
  --error-50-80: #f03c00cc;
  --error-50-90: #f03c00e6;
  --error-60: #bd2900;
  --error-60-10: #bd29001a;
  --error-60-20: #bd290033;
  --error-60-30: #bd29004d;
  --error-60-40: #bd290066;
  --error-60-50: #bd290080;
  --error-60-60: #bd290099;
  --error-60-70: #bd2900b3;
  --error-60-80: #bd2900cc;
  --error-60-90: #bd2900e6;
  --error-70: #8f1d00;
  --error-70-10: #8f1d001a;
  --error-70-20: #8f1d0033;
  --error-70-30: #8f1d004d;
  --error-70-40: #8f1d0066;
  --error-70-50: #8f1d0080;
  --error-70-60: #8f1d0099;
  --error-70-70: #8f1d00b3;
  --error-70-80: #8f1d00cc;
  --error-70-90: #8f1d00e6;
  --error-80: #611000;
  --error-80-10: #6110001a;
  --error-80-20: #61100033;
  --error-80-30: #6110004d;
  --error-80-40: #61100066;
  --error-80-50: #61100080;
  --error-80-60: #61100099;
  --error-80-70: #611000b3;
  --error-80-80: #611000cc;
  --error-80-90: #611000e6;
  --error-90: #330800;
  --error-90-10: #3308001a;
  --error-90-20: #33080033;
  --error-90-30: #3308004d;
  --error-90-40: #33080066;
  --error-90-50: #33080080;
  --error-90-60: #33080099;
  --error-90-70: #330800b3;
  --error-90-80: #330800cc;
  --error-90-90: #330800e6;
  --error-95: #190300;
  --error-95-10: #1903001a;
  --error-95-20: #19030033;
  --error-95-30: #1903004d;
  --error-95-40: #19030066;
  --error-95-50: #19030080;
  --error-95-60: #19030099;
  --error-95-70: #190300b3;
  --error-95-80: #190300cc;
  --error-95-90: #190300e6;
  --error-99: #050100;
  --error-99-10: #0501001a;
  --error-99-20: #05010033;
  --error-99-30: #0501004d;
  --error-99-40: #05010066;
  --error-99-50: #05010080;
  --error-99-60: #05010099;
  --error-99-70: #050100b3;
  --error-99-80: #050100cc;
  --error-99-90: #050100e6;
  --error-100: #000000;
  --error-100-10: #0000001a;
  --error-100-20: #00000033;
  --error-100-30: #0000004d;
  --error-100-40: #00000066;
  --error-100-50: #00000080;
  --error-100-60: #00000099;
  --error-100-70: #000000b3;
  --error-100-80: #000000cc;
  --error-100-90: #000000e6;
  --neutral-0: #ffffff;
  --neutral-0-10: #ffffff1a;
  --neutral-0-20: #ffffff33;
  --neutral-0-30: #ffffff4d;
  --neutral-0-40: #ffffff66;
  --neutral-0-50: #ffffff80;
  --neutral-0-60: #ffffff99;
  --neutral-0-70: #ffffffb3;
  --neutral-0-80: #ffffffcc;
  --neutral-0-90: #ffffffe6;
  --neutral-1: #f7f8f7;
  --neutral-1-10: #f7f8f71a;
  --neutral-1-20: #f7f8f733;
  --neutral-1-30: #f7f8f74d;
  --neutral-1-40: #f7f8f766;
  --neutral-1-50: #f7f8f780;
  --neutral-1-60: #f7f8f799;
  --neutral-1-70: #f7f8f7b3;
  --neutral-1-80: #f7f8f7cc;
  --neutral-1-90: #f7f8f7e6;
  --neutral-5: #eaebea;
  --neutral-5-10: #eaebea1a;
  --neutral-5-20: #eaebea33;
  --neutral-5-30: #eaebea4d;
  --neutral-5-40: #eaebea66;
  --neutral-5-50: #eaebea80;
  --neutral-5-60: #eaebea99;
  --neutral-5-70: #eaebeab3;
  --neutral-5-80: #eaebeacc;
  --neutral-5-90: #eaebeae6;
  --neutral-10: #daddda;
  --neutral-10-10: #daddda1a;
  --neutral-10-20: #daddda33;
  --neutral-10-30: #daddda4d;
  --neutral-10-40: #daddda66;
  --neutral-10-50: #daddda80;
  --neutral-10-60: #daddda99;
  --neutral-10-70: #dadddab3;
  --neutral-10-80: #dadddacc;
  --neutral-10-90: #dadddae6;
  --neutral-20: #c0c4c0;
  --neutral-20-10: #c0c4c01a;
  --neutral-20-20: #c0c4c033;
  --neutral-20-30: #c0c4c04d;
  --neutral-20-40: #c0c4c066;
  --neutral-20-50: #c0c4c080;
  --neutral-20-60: #c0c4c099;
  --neutral-20-70: #c0c4c0b3;
  --neutral-20-80: #c0c4c0cc;
  --neutral-20-90: #c0c4c0e6;
  --neutral-30: #a6aba6;
  --neutral-30-10: #a6aba61a;
  --neutral-30-20: #a6aba633;
  --neutral-30-30: #a6aba64d;
  --neutral-30-40: #a6aba666;
  --neutral-30-50: #a6aba680;
  --neutral-30-60: #a6aba699;
  --neutral-30-70: #a6aba6b3;
  --neutral-30-80: #a6aba6cc;
  --neutral-30-90: #a6aba6e6;
  --neutral-40: #8c928b;
  --neutral-40-10: #8c928b1a;
  --neutral-40-20: #8c928b33;
  --neutral-40-30: #8c928b4d;
  --neutral-40-40: #8c928b66;
  --neutral-40-50: #8c928b80;
  --neutral-40-60: #8c928b99;
  --neutral-40-70: #8c928bb3;
  --neutral-40-80: #8c928bcc;
  --neutral-40-90: #8c928be6;
  --neutral-50: #757b74;
  --neutral-50-10: #757b741a;
  --neutral-50-20: #757b7433;
  --neutral-50-30: #757b744d;
  --neutral-50-40: #757b7466;
  --neutral-50-50: #757b7480;
  --neutral-50-60: #757b7499;
  --neutral-50-70: #757b74b3;
  --neutral-50-80: #757b74cc;
  --neutral-50-90: #757b74e6;
  --neutral-60: #5d615c;
  --neutral-60-10: #5d615c1a;
  --neutral-60-20: #5d615c33;
  --neutral-60-30: #5d615c4d;
  --neutral-60-40: #5d615c66;
  --neutral-60-50: #5d615c80;
  --neutral-60-60: #5d615c99;
  --neutral-60-70: #5d615cb3;
  --neutral-60-80: #5d615ccc;
  --neutral-60-90: #5d615ce6;
  --neutral-70: #464a45;
  --neutral-70-10: #464a451a;
  --neutral-70-20: #464a4533;
  --neutral-70-30: #464a454d;
  --neutral-70-40: #464a4566;
  --neutral-70-50: #464a4580;
  --neutral-70-60: #464a4599;
  --neutral-70-70: #464a45b3;
  --neutral-70-80: #464a45cc;
  --neutral-70-90: #464a45e6;
  --neutral-80: #2f322f;
  --neutral-80-10: #2f322f1a;
  --neutral-80-20: #2f322f33;
  --neutral-80-30: #2f322f4d;
  --neutral-80-40: #2f322f66;
  --neutral-80-50: #2f322f80;
  --neutral-80-60: #2f322f99;
  --neutral-80-70: #2f322fb3;
  --neutral-80-80: #2f322fcc;
  --neutral-80-90: #2f322fe6;
  --neutral-90: #191b18;
  --neutral-90-10: #191b181a;
  --neutral-90-20: #191b1833;
  --neutral-90-30: #191b184d;
  --neutral-90-40: #191b1866;
  --neutral-90-50: #191b1880;
  --neutral-90-60: #191b1899;
  --neutral-90-70: #191b18b3;
  --neutral-90-80: #191b18cc;
  --neutral-90-90: #191b18e6;
  --neutral-95: #0d0d0c;
  --neutral-95-10: #0d0d0c1a;
  --neutral-95-20: #0d0d0c33;
  --neutral-95-30: #0d0d0c4d;
  --neutral-95-40: #0d0d0c66;
  --neutral-95-50: #0d0d0c80;
  --neutral-95-60: #0d0d0c99;
  --neutral-95-70: #0d0d0cb3;
  --neutral-95-80: #0d0d0ccc;
  --neutral-95-90: #0d0d0ce6;
  --neutral-99: #030302;
  --neutral-99-10: #0303021a;
  --neutral-99-20: #03030233;
  --neutral-99-30: #0303024d;
  --neutral-99-40: #03030266;
  --neutral-99-50: #03030280;
  --neutral-99-60: #03030299;
  --neutral-99-70: #030302b3;
  --neutral-99-80: #030302cc;
  --neutral-99-90: #030302e6;
  --neutral-100: #000000;
  --neutral-100-10: #0000001a;
  --neutral-100-20: #00000033;
  --neutral-100-30: #0000004d;
  --neutral-100-40: #00000066;
  --neutral-100-50: #00000080;
  --neutral-100-60: #00000099;
  --neutral-100-70: #000000b3;
  --neutral-100-80: #000000cc;
  --neutral-100-90: #000000e6;
  --primary: #a3ec98;
  --secondary: #bcccb8;
  --tertiary: #abcfd8;
  --error: #ffab85;
  --on-primary: #21530e;
  --on-secondary: #2e3928;
  --on-tertiary: #1e4143;
  --on-error: #611000;
  --primary-container: #2f7718;
  --secondary-container: #44523d;
  --tertiary-container: #2e5c60;
  --error-container: #8f1d00;
  --on-primary-container: #defbdb;
  --on-secondary-container: #e8eee7;
  --on-tertiary-container: #e2eff3;
  --on-error-container: #ffe4d6;
  --primary-fixed: #defbdb;
  --secondary-fixed: #e8eee7;
  --tertiary-fixed: #e2eff3;
  --primary-fixed-dim: hsla(114, 60%, 82%, 1);
  --secondary-fixed-dim: hsla(109, 0%, 82%, 1);
  --tertiary-fixed-dim: hsla(194, 21%, 82%, 1);
  --on-primary-fixed: #193e09;
  --on-secondary-fixed: #222a1e;
  --on-tertiary-fixed: #153132;
  --on-primary-fixed-variant: #2f7718;
  --on-secondary-fixed-variant: #44523d;
  --on-tertiary-fixed-variant: #2e5c60;
  --surface: #141514;
  --surface-dim: #141514;
  --surface-bright: #191b18;
  --surface-container-lowest: #000000;
  --surface-container-low: #0d0d0c;
  --surface-container: #191b18;
  --surface-container-high: #232522;
  --surface-container-highest: #2f322f;
  --on-surface: #eaebea;
  --on-surface-variant: #daddda;
  --inverse-surface: #daddda;
  --inverse-on-surface: #2f322f;
  --inverse-primary: #3f9924;
  --outline: #8c928b;
  --outline-variant: #757b74;
  --scrim: #000000;
  --shadow: #000000;
}
