:root {
  --xxs: 4px;
  --xs: 8px;
  --sm: 12px;
  --md: 16px;
  --lg: 20px;
  --xl: 24px;
  --xxl: 28px;
  --padding-xxs: 4px;
  --padding-xs: 8px;
  --padding-sm: 12px;
  --padding-md: 16px;
  --padding-lg: 20px;
  --padding-xl: 24px;
  --padding-xxl: 28px;
  --component-xxs: 24px;
  --component-xs: 32px;
  --component-sm: 40px;
  --component-md: 48px;
  --component-lg: 56px;
  --component-xl: 64px;
  --component-xxl: 72px;
  --size-xxs: 48px;
  --size-xs: 56px;
  --size-sm: 64px;
  --size-md: 72px;
  --size-lg: 80px;
  --size-xl: 88px;
  --size-xxl: 96px;
  --font-xxs: 10px;
  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-xxl: 22px;
  --icon-xxs: 8px;
  --icon-xs: 12px;
  --icon-sm: 16px;
  --icon-md: 24px;
  --icon-lg: 28px;
  --icon-xl: 32px;
  --icon-xxl: 36px;
  --navbar-size: var(--size-lg);
  --header-size: var(--size-sm);
  --fab-size: var(--size-xs);
}
