.md-button,
.md-chip {
  display: inline-flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  gap: var(--xs);
  border: none;
  border-radius: var(--radius);
  font: inherit;
  font-weight: 500;
  color: var(--primary-5);
  background: var(--primary-60);
  box-shadow: var(--shadow-2);
  padding-inline: var(--sm);
  transition:
    color 0.2s,
    background-color 0.2s,
    filter 0.2s,
    opacity 0.2s,
    box-shadow 0.2s;

  &:not(:disabled) {
    cursor: pointer;
  }

  &.outline,
  &.transparent,
  &.subtle {
    color: var(--primary-80);
    box-shadow: none;
  }

  &:active {
    opacity: 0.8;
  }

  &:disabled {
    background-color: var(--mono-30-50) !important;
    color: var(--mono-50) !important;
  }

  &:not(:has(.left)) {
    padding-inline-start: var(--sm);
  }

  &:not(:has(.right)) {
    padding-inline-end: var(--sm);
  }

  &:not(:disabled):hover {
    filter: brightness(1.2);
  }

  &.outline {
    border: 1px solid var(--primary-60-50);
  }

  &.subtle {
    background: var(--primary-50-20);
  }

  &.transparent,
  &.outline {
    background: none;

    &:hover {
      background: var(--primary-40-20);
    }
  }

  &.inverted {
    color: var(--primary-95);
    background: var(--primary-20);

    &:hover {
      filter: brightness(0.8);
    }

    &:disabled {
      background-color: var(--mono-80-50) !important;
      color: var(--mono-60) !important;
    }

    &.outline {
      border: 1px solid var(--primary-20-30);
    }
  }

  &-label {
    align-self: center;
    text-align: center;
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-icon {
    display: grid;
    width: max-content;
    place-items: center;
  }
}
